<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Solana Drink_files/style.css') }}">
    <link href="{{ url_for('static', filename='Solana Drink_files/css2" rel="stylesheet') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Solana Drink_files/all.min.css') }}" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/florin.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='raqNFT.png') }}">
    <!-- Fontawesome -->
    <link type="text/css" href="/static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <title>RNG-MAKER</title>
</head>

<body data-new-gr-c-s-check-loaded="14.1041.0" data-gr-ext-installed="" cz-shortcut-listen="true" onload="INITIALIZE()">
    <header style="z-index: 1000000000;">
        <div class="logo">
            <h3 style="
                font-family: 'Ubuntu';
                font-size: 27px;
                text-align: -webkit-center;
                margin-bottom: 10px;
            ">raq</h3>
            <img src="{{ url_for('static', filename='raqNFT.png') }}"  alt="logo">
            <h3 style="
                font-family: 'Ubuntu';
                font-size: 27px;
                text-align: -webkit-center;
                margin-bottom: 10px;
                cursor: pointer;
            " onclick="document.querySelector('#min_max_button_sqr').click()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console</h3>
        </div>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#roadmap"><i class="fas fa-map-pin"></i> Roadmap</a></li>
            <li><a href="javascript:void(0)" class="account_info" onclick="checkIfWalletIsConnected()"><i class="fa-solid fa-wallet"></i> Connect</a></li>
        </ul>
        <div class="burger"><i class="fas fa-bars"></i></div>
    </header>
    <div class="slide-menu" style="left: -100%; padding-top:10%">
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#roadmap"><i class="fas fa-map-pin"></i> Roadmap</a>
        <a href="javascript:void(0)" class="account_info" onclick="checkIfWalletIsConnected()"><i class="fa-solid fa-wallet"></i> Connect</a>
    </div>
    <div id="home">
        <div class="intro">
            <br><br><br>
            <h2 style="color: red; background-color: #102533;">MINTING IS LIVE</h2>
            <!-- <br>Matic network launch is at JANUARY 9, 2022 (Sunday) -->
<!--             <div class="container container__">
              <div id="countdown" style="">
                <ul>
                  <li class="timerLi"><span id="days" class="timeSpan"></span>days</li>
                  <li class="timerLi"><span id="hours" class="timeSpan"></span>Hours</li>
                  <li class="timerLi"><span id="minutes" class="timeSpan"></span>Minutes</li>
                  <li class="timerLi"><span id="seconds" class="timeSpan"></span>Seconds</li>
                </ul>
              </div>
              <div id="content" class="emoji">
                <span>MINTING IS LIVE</span>
              </div>
            </div>
            <style type="text/css">
                .timeSpan {
                  cursor: pointer;
                }
                .timeSpan:hover {
                  background: orange;
                  box-shadow: 6px -16px #102533;
                }
                .container__ {
                  color: #333;
                  margin: 0 auto;
                  text-align: center;
                  min-height: auto;
                }
                .timerLi {
                  display: inline-block;
                  font-size: 1em;
                  list-style-type: none;
                  padding: 0.5em;
                  text-transform: uppercase;
                }

                .timerLi .timeSpan {
                  display: block;
                  font-size: 4.5rem;
                }

                .emoji {
                  display: none;
                  padding: 1rem;
                }

                .emoji .timeSpan {
                  font-size: 4rem;
                  padding: 0 0.5rem;
                }

                @media all and (max-width: 768px) {
                  .timerLi {
                    font-size: calc(1.125rem * var(--smaller));
                  }

                  .timerLi .timeSpan {
                    font-size: calc(3.375rem * var(--smaller));
                  }
                }
            </style> -->
            <!-- -->
            <!-- <h2>FOR NEWS AND FREE AIRDROPS VISIT</h2> <h2 style="color:#59E6F3; cursor: pointer;" onclick="window.location ='https://discord.gg/XtCGWfw'" >DISCORD CHANNEL</h2> -->

            <h2 id="totalTokenCount"><a href="#" onclick="getTotalCount()">connect or click here to see token count</a></h2>
            <p>Token cap is 8000, progressively increasing from 2000 each quarter. Total of 4 quarters, each quarter has unique content for previous NFT collaborators: For example, we will use randomly generated art contents in a memory-based game. Mint one and it will directly be sent to your wallet and your content will be available all across the internet (it will even be available when the internet is down thanks to the blockchain technology, but it will take some time until blockchain-based browsers are in our life)<br>Get Opensea link and transaction history as proof of work. on your <b onclick="document.querySelector('#min_max_button_sqr').click()" style="color:black; cursor: pointer;">console</b>.</p>
            <!-- <p>Create an NFT with your inputs: name input(visible in the NFT), 3 color integer inputs of(Red, Blue, Green), text size int, description input is limited to 200 character long.</p> -->
            <div class="socmed">
                <!-- <a href="https://twitter.com/mirkanofmirkan" target="_blank"><i class="fab fa-twitter"></i></a> -->
                <a href="https://discord.gg/XtCGWfw" target="_blank"><i class="fab fa-discord"></i></a>
                <a href="https://opensea.io/rng-maker" target="_blank">OPENSEA</a>
                <!-- <a><img src="{{ url_for('static', filename='img/opensea.png') }}" width="27px" height="27px"></a> -->
                <!-- <a href="https://telegram.com/#"><i class="fab fa-telegram"></i></a> -->
<!--                 <a href="https://telegram.com/#"><i class="fab fa-telegram"></i></a>
                 -->
            </div>
            <div class="partner">
                <p>See us on:</p>
                <a href="https://nftcalendar.io/event/glitches/" target="_blank"><img src="{{ url_for('static', filename='img/nftcalendar.png') }}" alt="nft-calendar"></a>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="nft-shill" style="transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); will-change: transform;">
                <img src="{{ url_for('static', filename='gif/random_art.gif')}}" alt="drinks-nft">
            </div>
        </div>
    </div>
    <!-- <img id="image" width="fit-content" height="fit-content" src="{{ url_for('static', filename='img/nftcalendar.png') }}"> -->
    <!-- <object data="localhost:3000/img/nftcalendar.png" width="300" height="300"> </object> -->
    <div style="
        background: #E6CCA9;
        background-image:
        linear-gradient(#E6CCA9, #f5d689);
        display: flex;
        flex-direction: column;
        align-items: center;
    ">
        <div style="background: black; width:100%; min-height: 150px; padding:0 2%; border-style: solid; border-color: white;border-radius: 30px 30px 30px 30px;box-shadow: 2px 2px 8px 2px #102533;background-color: #102533;" id="console_div" hidden>
            <div style="display: flex;flex-direction: row-reverse; height: 40px;">
                <a onclick="consoleState(event)" id="min_max_button_x" style="cursor: pointer;">❌</a>
                <a onclick="consoleState(event)" id="min_max_button_sqr" style="cursor: pointer;">🔲</a>
                <a onclick="consoleState(event)" id="min_max_button_minus" style="cursor: pointer;">➖</a>
            </div>
            <p id="info" style="color: white; margin: 0 0 0 20px;overflow:auto"><span style="font-size: 20px; color: seagreen; ">CONSOLE</span><br></p>
        </div>
        <div class="container" id="container" style="position: fixed;top: 6%;background: rgba(192,192,192,.78);height: 100%;" hidden>
            <div class="form-container sign-in-container">
                <a onclick="hide_console_Q1_task(state=false)" id="hide_RBG_Button" style="cursor: pointer; z-index: 9999;"><i class="fa-solid fa-cancel" style="font-size: 70px;margin: 10px 0 0 10px;color: red;"></i></a>
                <div id="form_user" action="javascript:RBG_CHANGE({target:{id:'all'}})" style="align-items:center;height:auto">
                    <div class="flex-left-to-right">
                        <h2>name:</h2>
                        <input id="_name" type="text" name="name" value="" onchange="RBG_CHANGE(event)" maxlength="10" style="width:200px" value="">
                    </div>
                    <div class="flex-left-to-right">
                        <h2>R:</h2>
                        <input id="R" type="number" name="R" value="0" onchange="RBG_CHANGE(event)" max="256" style="width:200px">
                    </div>
                    <div class="flex-left-to-right">
                        <h2>B:</h2>
                        <input id="B" type="number" name="B" value="0" onchange="RBG_CHANGE(event)" max="256" style="width:200px">
                    </div>
                    <div class="flex-left-to-right">
                        <h2>G:</h2>
                        <input id="G" type="number" name="G" value="0" onchange="RBG_CHANGE(event)" max="256" style="width:200px">
                    </div>
                    <div class="flex-left-to-right">
                        <h2>size:</h2>
                        <input id="text_size" type="number" name="text_size" value="15" onchange="RBG_CHANGE(event)" max="100" style="width:200px">
                    </div>
                    <div class="flex-left-to-right">
                        <h2>desc:</h2>
                        <input id="description" type="text" name="description" value="" onchange="RBG_CHANGE(event)" max="200" style="width:200px">
                    </div>
                    <div style="display: flex;">                        
                        <!-- <button class="mint-btn" style="background-color: #102533;" id="reset">RESET DESING</button> -->
                        <!-- <input id="nameUpdateItem" type="input"><button class="mint-btn" style="background-color: #123;" id="reset" onclick="nameUpdate()">nameUpdate</button> -->
                        <!-- <a class="mint-btn home-btns" href="#" onclick="getRGBA()"><i class="fas fa-hammer"></i> getRGBA</a> -->
                        <button id="mintPredefinedNFT_button" onclick="mintPredefinedNFT()" style="background-color: #102533;; margin-bottom: 5px;border: 3px solid #e6cca9;"><span style="color:#e6cca9;display:flex;"><i class="fas fa-hammer"></i>&nbsp;MINT</span></button>
                        <button class="mint-btn" style="background-color: #102533;margin-bottom: 5px;border: 3px solid #e6cca9;" id="reset" onclick="nameUpdate(read=true)"><span style="color:#e6cca9; display:flex; "><i class="fa-solid fa-print"></i>&nbsp;PRINT</span></button>
                    </div>
                </div>
            </div>
            <div class="overlay-container" width="100%">
                <div class="" style="display:flex;align-items: center; flex-direction: row; height:100%;overflow: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" viewBox="0 0 350 350">
                        <style>.base { fill: white; font-family: serif; font-size: 15px; }</style>
                        <rect width="100%" height="100%" fill="rgba(0,0,0,1)" />
                        <text id="name_plate" x="5%" y="20%" class="base" dominant-baseline="right" text-anchor="right"></text>
                        <text id="description_plate" x="5%" y="40%" class="base" dominant-baseline="right" text-anchor="right"></text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id="roadmap" style="background-image: linear-gradient(#E6CCA9, #f5d689);">
        <div class="road">
            <div class="road-label road-top">
                <h3 id="pixel-modern-art">Q4 2021 - Background data cards</h3>
            </div>
            <div style="display:flex;flex-direction: row;gap: 50px; margin: 0 25px 25px 25px;width:100%">
                <div style="align-items: center;display: flex; border: 5px solid white; height: fit-content;padding: 5px;">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWluIG1lZXQiIHZpZXdCb3g9IjAgMCAzNTAgMzUwIj4gICAgICAgICAgICAgICAgICAgICAgICA8c3R5bGU+LmJhc2UgeyBmaWxsOiB3aGl0ZTsgZm9udC1mYW1pbHk6IHNlcmlmOyBmb250LXNpemU6IDE1cHg7IH08L3N0eWxlPiAgICAgICAgICAgICAgICAgICAgICAgIDxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYigxMzMsMTMzLDEzMykiPjwvcmVjdD4gICAgICAgICAgICAgICAgICAgICAgICA8dGV4dCBpZD0ibmFtZV9wbGF0ZSIgeD0iNSUiIHk9IjIwJSIgY2xhc3M9ImJhc2UiIGRvbWluYW50LWJhc2VsaW5lPSJyaWdodCIgdGV4dC1hbmNob3I9InJpZ2h0IiBzdHlsZT0iZm9udC1zaXplOiAxMzMuN3B4OyI+MTMzNzwvdGV4dD4gICAgICAgICAgICAgICAgICAgICAgICA8dGV4dCBpZD0iZGVzY3JpcHRpb25fcGxhdGUiIHg9IjUlIiB5PSI0MCUiIGNsYXNzPSJiYXNlIiBkb21pbmFudC1iYXNlbGluZT0icmlnaHQiIHRleHQtYW5jaG9yPSJyaWdodCIgc3R5bGU9ImZvbnQtc2l6ZTogMTMzLjdweDsiPjEzMzc8L3RleHQ+ICAgICAgICAgICAgICAgICAgICA8L3N2Zz4=" alt="background card photo" width="128px" height="128px">
                </div>
                <p>This is your data card. Mint it into your wallet on matic/polygon network for 10 MATIC<br>>> base64 format<br>>> NFT limit is 2000</p>
            </div>
            <div>
                <button class="mint-btn" style="background-color: #102533;margin-bottom: 5px;border: 3px solid #e6cca9;" onclick="hide_console_Q1_task(state=true)"><span style="color:#e6cca9; display:flex; "><i class="fas fa-user"></i>&nbsp;DISPLAY</span></button>
                <!-- <button class="mint-btn" style="background-color: #102533;margin-bottom: 5px;border: 3px solid #e6cca9;" onclick="getNew128px()"><span style="color:#e6cca9; display:flex; "><i class="fa-solid fa-print"></i>&nbsp;Refresh</span></button> -->
            </div>
        </div>
        <div class="road">
            <div class="road-label road-top">
                <h3 id="pixel-modern-art">Q1 2022 - Glitches</h3>
            </div>
            <div style="display:flex;flex-direction: row;gap: 50px; margin: 0 25px 25px 25px; align-items: center;width:100%">
                <div style="align-items: center;display: flex; border: 5px solid white; height: fit-content;padding: 5px;">
                    <img id="artLoadingImage" src="{{ url_for('static', filename='gif/Spinner-1s-200px.gif') }}" width="128px" height="128px">
                    <canvas id="pixelitcanvas" crossorigin="anonymous" width="128px" height="128px" hidden></canvas>
                </div>
                <p>Mint this Glitch on the left. It is being generated each time when you visit this website and using an AI</br>Mint it into your wallet on matic/polygon network for 10 MATIC<br>>> base64 format<br>>> NFT limit is 2000</p>
            </div>
            <div>
                <button class="mint-btn" style="background-color: #102533;margin-bottom: 5px;border: 3px solid #e6cca9;" onclick="MintPixelArt()" id="MintPixelArt_button"><span style="color:#e6cca9; display:flex; "><i class="fas fa-hammer"></i>&nbsp;MINT</span></button>
                <!-- <button class="mint-btn" style="background-color: #102533;margin-bottom: 5px;border: 3px solid #e6cca9;" onclick="getNew128px()"><span style="color:#e6cca9; display:flex; "><i class="fa-solid fa-print"></i>&nbsp;Refresh</span></button> -->
            </div>
        </div>
        <div class="road">
            <div class="road-label road-top">
                <h3>Q2 2022 - URimg</h3>
            </div>
            <p>Your image of up to 512x512 pixels, you can pixelate it and write about it into your data storage in blockchain or send it without attributes.</p>
            <p>It will be a png/jpeg that is transformed into SVG format so might be lost some quality, will try big images first of all. between, 4k and 10k string characters long is okay.</p>
            <p>Save your own image file into the blockchain. probably will be limited to some pixel length (probably 1080px).</p>
            <p>>> NFT limit is 4000</p>
        </div>
        <div class="road">
            <div class="road-label road-top">
                <h3>Q3 2022 - Upcoming events</h3>
            </div>
            <p>Special NFTs release and available on Market. Collaboration with an Exclusive Partnership.</p>
            <p>>> NFT limit is 8000</p>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='./Solana Drink_files/vanilla-tilt.min.js.download') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./Solana Drink_files/script.js.download') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="application/javascript"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/pixelit.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js" type="application/javascript"></script>
<script>
    // MAIN SCRIPT
    const BASE_URL = `{{ BASE_URL }}`;
    var balance, abi, web3Connected, chanId_int, account, connectedContract, provider, signer
    var MATIC_CONTRACT = "0xc4d4319a3348C2e935838Ae6e1B5b2d9Dbe0e566";
    var CONTRACT_ADDRESS = "0x533AC8Bb595F1670D866A04229C96a29D00345E4";
    CONTRACT_ADDRESS = MATIC_CONTRACT;
    // XXX ?? polygon matic network
    const chainIdInt = 137//80001; // 
    const chainId = '0x'+chainIdInt.toString(16);
    const SCAN = "https://polygonscan.com/tx/"//"https://mumbai.polygonscan.com/tx/";
    // XXX testnets
    const openSeaPrefix = "https://opensea.io/assets/matic/"//"https://testnets.opensea.io/assets/mumbai/"
    const saleNetwork = "polygon/matic";
    const networkCurrency = saleNetwork == "polygon/matic" ? "MATIC" : "ETH"
    const rariblePrefix = "nan"//"https://rarible.com/token/";
    console.log(chainIdInt, chainId, saleNetwork);
    //////////////////////////////////////////////////////////////////////////////////////////
    // data:image/svg+xml;base64,               || SVG
    // data:application/json;base64,            || JSON
    //////////////////////////////////////////////////////////////////////////////////////////
    var R = 0;
    var B = 0;
    var G = 0;
    var text_size = "15px";
    var description = "https://github.com/mirkan1";
    name_array = ["PotatoLimonato", "ChicalatoDeparsiano", "lil;"];
    var _name = name_array.filter(e => {if (Math.random() > 0.65) {return e;}})[0] || "UNKNOWN";
    var palInt;
    //////////////////////////////////////////////////////////////////////////////////////////
    // PALETTE CONFIGS
    var px;
//////////////////////////////////////////////////////////////////////////////
    // // https://www.pixilart.com/palettes
    // var _arr_= [];
    // document.querySelectorAll("div").forEach(e=>{
    //     let dataColors = e.getAttribute("data-colors");
    //     if (dataColors) {
    //         arr_.push(dataColors.split(",").map(e=>"#"+e))
    //     }
    // });
//////////////////////////////////////////////////////////////////////////////
    var totalPalettes = [
      [ '#253a38','#7aa44d','#91ea3a','#d2deca',], //acidicGB
      [ "#102533","#42678e","#6f9edf","#cecece",], // bluePalette 
      [ "#191930", "#263d6e", "#2f729e", "#eba254", "#f5d689", "#fff5d9",], // vintage voltage
      ['#61D163', '#253B46', '#188660', '#EBE7AD'],
      ['#00303B', '#011133', '#EB774D', '#FFCE96'],
      ['#7E8EA7', '#6571A1', '#485881', '#3C3A56'],
      ['#86EA16', '#080808', '#9FF179', '#363636'],
      ['#FFFAFA', '#E64B5B', '#417199', '#FFF2D5'],
      ['#EEF5E4', '#9FF179', '#575268', '#282336'],
      ['#000402', '#0505FD', '#F4FD05', '#FD0505'],
      ['#000000', '#D41717', '#9BA6F8', '#F8ACD7'],
      ['#40548C', '#0B1227', '#ADDAFC', '#F7DEBB'],
      ['#923A3A', '#FF9191', '#FFC84E', '#FFEB9F'],
      ['#F6F0ED', '#C2948A', '#28546B', '#7EA8BE'],
      ['#F29C6A', '#F4C88B', '#569191', '#D3CBBF'],
      ['#7B0000', '#007B00', '#333333', '#888888'],
      ['#122717', '#479B5B', '#1A3B66', '#E1E3E6'],
      ['#000000', '#FFFA02', '#D8D596', '#AFACAB'],
      ['#FF9B00', '#000000', '#5F248C', '#7C7777'],
      ['#010B4E', '#7483E3', '#000000', '#450707'],
      ['#EADFC8', '#C6A99D', '#9F9F85', '#788177'],
      ['#911717', '#D50000', '#C9770C', '#A85A00'],
      ['#FF0000', '#4E0089', '#00BDFF', '#1100FF'],
      ['#FF6363', '#FFA963', '#FCFA95', '#B1FC95'],
      ['#850505', '#DBD8DB', '#520000', '#9DC223'],
      ['#322525', '#FCDFDF', '#E500FF', '#000000'],
      ['#194D33', '#000000', '#5AC1FF', '#FF7200'],
      ['#000000', '#FFFFFF', '#9E9E9E', '#7B1FA2'],
      ['#BDBDBD', '#FFFFFF', '#000000', '#C6FF00'],
      ['#81D4FA', '#BDBDBD', '#757575', '#FFFFFF'],
      ['#051F39', '#4A2480', '#C53A9D', '#FF8E80'],
      ['#36394F', '#74568C', '#C27183', '#FFEBA8'],
      ['#642A78', '#432051', '#B8BEDB', '#8E93AB'],
      ['#000000', '#FF5722', '#FF9800', '#F44336'],
      ['#231FD6', '#0064FF', '#00A4FF', '#00F6FF'],
      ['#1E1E81', '#1265DE', '#7D7412', '#4E4A42'],
      ['#DCEDEB', '#90ADBB', '#56689D', '#262238'],
      ['#162544', '#843A9D', '#DA6092', '#FFFCBB'],
      ['#83628C', '#C394AF', '#EEC5B4', '#FFF0C8'],
      ['#FDE5D1', '#F1C893', '#A0A472', '#4A6D74'],
      ['#00FF7F', '#00FFF7', '#0091FF', '#5300FF'],
      ['#51C254', '#4CAF4F', '#409943', '#3B8C3C'],
      ['#2977FF', '#1565C0', '#F8BBD0', '#18FFFF'],
      ['#FFD9AD', '#B5654F', '#E4A877', '#854424'],
      ['#B0BEC5', '#90A4AE', '#78909C', '#607D8B'],
      ['#FF0000', '#00FFC5', '#000000', '#073676'],
      ['#BDBDBD', '#FAFAFA', '#FFFFFF', '#212121'],
      ['#564756', '#507DBA', '#5ACCA0', '#E5F7D2'],
      ['#1A2129', '#312137', '#512839', '#713141'],
      ['#F3BF7C', '#D0021B', '#FFFFFF', '#66BC0A'],
      ['#061228', '#234580', '#4C7CCF', '#C3E7FF'],
      ['#0F0D2A', '#E34965', '#49BCE3', '#FBE76B'],
      ['#2D162C', '#412752', '#683A68', '#9775A6'],
      ['#8A0303', '#FF8D85', '#C37C4D', '#606373'],
      ['#194D33', '#2AC779', '#89E76A', '#C3F87B'],
      ['#120F0F', '#382C2A', '#653F26', '#B9AC3B'],
      ['#FFFFFF', '#E5BB00', '#5E5393', '#000000'],
      ['#CA463C', '#629AC2', '#FFF200', '#375EB3'],
      ['#A9A8FF', '#5F6387', '#003073', '#D357B4'],
      ['#B50B0B', '#EFD885', '#FFFFFF', '#94077F'],
      ['#091646', '#000000', '#FFFFFF', '#010F5D'],
      ['#1FB81F', '#4C1A14', '#FFFFFF', '#D1B671'],
      ['#DBC89F', '#E1AA6B', '#090987', '#F1AEFC'],
      ['#FFFFFF', '#FFB612', '#E31837', '#000000'],
      ['#D2E7AF', '#5ADED9', '#2979B6', '#081935'],
      ['#EBE6DD', '#C19686', '#9C4F4F', '#3D373E'],
      ['#FFFFFF', '#00E1FF', '#FF00FF', '#000000'],
      ['#FF9E9A', '#FFA39F', '#FF9995', '#FF605A'],
      ['#074B29', '#614E49', '#01BDFE', '#FEEC01'],
      ['#000000', '#DBA879', '#928EB9', '#DFE8F1'],
      ['#E18A15', '#EB3333', '#D39F00', '#01ABB1'],
      ['#F0D1FF', '#C2F0D9', '#DEF0C2', '#F0C2C2'],
      ['#194D33', '#4A90E2', '#C194FF', '#FFB3F3'],
      ['#3C09F5', '#513F90', '#80469C', '#66355B'],
      ['#FF9DF4', '#1F95FF', '#FF0F42', '#FF0000'],
      ['#422E31', '#875D51', '#B59070', '#D6C894'],
      ['#004D40', '#000000', '#546E7A', '#607D8B'],
      ['#F8142C', '#1485F8', '#F814AE', '#F8A714'],
      ['#00FFFB', '#00C773', '#00417D', '#13002C'],
      ['#252525', '#000000', '#FFFFFF', '#524B4B'],
      ['#D4E9FD', '#B6DCF3', '#7DC5EE', '#4AA8F6'],
      ['#FF0000', '#00FFCD', '#0AFF53', '#B200FF'],
      ['#000000', '#FFFFFF', '#676767', '#B6B6B6'],
      ['#EEE1BC', '#DDB57D', '#AD764E', '#342316'],
      ['#D0021B', '#11FF0A', '#CEFF00', '#000000'],
      ['#AC8CF0', '#E8E7FA', '#5A66D8', '#C2CCF7'],
      ['#000000', '#752E37', '#F67E7D', '#FFB997'],
      ['#ECD4D7', '#B1B3C8', '#A393B2', '#BCA4A4'],
      ['#4B1F29', '#862038', '#F18D51', '#F8D2AC'],
      ['#000000', '#C9D4B9', '#4CAF4F', '#BED1A5'],
      ['#FF0000', '#00BFFF', '#000000', '#FFFFFF'],
      ['#FFEFFF', '#F7B58C', '#84739C', '#181010'],
      ['#7DA1D4', '#E8BC90', '#F47697', '#8D8EA6'],
      ['#C6EBC9', '#70AF85', '#F0E2D0', '#AA8976'],
      ['#121013', '#4D375D', '#EB596E', '#FFE227'],
      ['#000000', '#730606', '#061F73', '#99852E'],
      ['#EFD8A1', '#3C9F9C', '#276468', '#183F39'],
      ['#1AE985', '#063D21', '#E4ECE9', '#000000'],
      ['#194D33', '#3CB59A', '#9013FE', '#B017CF'],
      ['#1A1A2E', '#16213E', '#0F3460', '#E94560'],
      ['#68EBA9', '#0E724B', '#286121', '#78AD38'],
      ['#FBF8AB', '#FCD7EB', '#000000', '#256602'],
      ['#E0D7C3', '#3F352D', '#7B8779', '#9E3C32'],
      ['#FF9B00', '#000000', '#FFEB00', '#85FB03'],
      ['#373850', '#7E509F', '#628F8E', '#7EA8BA'],
      ['#194D33', '#D3F1E1', '#24E97A', '#FB7B7B'],
      ['#FA232A', '#FA2347', '#0A0412', '#1B285C'],
      ['#73441C', '#6B6969', '#8C8C89', '#BD9317'],
      ['#000000', '#E65100', '#FFCD94', '#3E2723'],
      ['#F4ECEC', '#F4DB9B', '#060202', '#285FCA'],
      ['#00E6FF', '#18FFFF', '#E57373', '#EF9A9A'],
      ['#8C4977', '#C45A6A', '#D69489', '#DBD9C5'],
      ['#521296', '#8A1FAC', '#D4864A', '#EBDB5E'],
      ['#FFC508', '#302F2C', '#E8E8E8', '#F77BED'],
      ['#F9C6E4', '#D3F8FF', '#180742', '#FFE7CC'],
      ['#C71F33', '#9C5960', '#BF8421', '#C3B82C'],
      ['#A9584C', '#F7E8A1', '#EB804C', '#042C3B'],
      ['#4D0845', '#841277', '#D91FC3', '#FF23E3'],
      ['#57B3CF', '#3986A6', '#2C5484', '#1D3663'],
      ['#000000', '#BDBDBD', '#757575', '#424242'],
      ['#33B4B4', '#3377C3', '#5533D2', '#BB33E1'],
      ['#BDE5FF', '#00E6FF', '#A2C5DB', '#000000'],
      ['#3E1404', '#6A2B05', '#964315', '#BB6B24'],
      ['#83C0E4', '#5E96C7', '#424B99', '#1E194D'],
      ['#3F51B5', '#8BC34A', '#FFEB3B', '#000000'],
      ['#71CAC8', '#4A818D', '#EDF6E9', '#9D7AA4'],
      ['#CADFFA', '#87B0D7', '#F7F5F5', '#193E6C'],
      ['#2A8037', '#001B27', '#F7FFB7', '#A5D145'],
      ['#3CBDFE', '#503000', '#FAD778', '#000000'],
      ['#194D33', '#3EF499', '#3EF4F4', '#B33EF4'],
      ['#8FB7EC', '#5E99ED', '#3C7DEF', '#0052E9'],
      ['#5C8F5A', '#1C3023', '#1E3635', '#484D24'],
      ['#FFE6D3', '#FFF1E0', '#FFEEDA', '#FFE1DA'],
      ['#D69BAD', '#F8D074', '#B64C56', '#86616D'],
      ['#F9FFB2', '#ABCC47', '#3D8026', '#00141A'],
      ['#B2FF59', '#8BC34A', '#4CAF50', '#00C853'],
      ['#194D33', '#421717', '#F8CB0E', '#83237C'],
      ['#A58FB2', '#EEE6DD', '#C68A8A', '#8491CC'],
      ['#101111', '#69AAAA', '#4A90E2', '#50E3C2'],
      ['#F67280', '#C06C84', '#6C5B7B', '#355C7D'],
      ['#522D5B', '#D7385D', '#FB7C6B', '#E7D39F'],
      ['#582600', '#311500', '#C18556', '#866249'],
      ['#FFFDB7', '#FFF500', '#FFB15C', '#FF8600'],
      ['#40FF9F', '#F571E2', '#C671F5', '#FF5757'],
      ['#79A2D0', '#F094BE', '#F0C289', '#EDE5D5'],
      ['#D3AFEC', '#ECAFE5', '#CDECAF', '#ECD0AF'],
      ['#071821', '#306850', '#86C06C', '#E0F8CF'],
      ['#00FF81', '#7171AB', '#A171AE', '#B27F8A'],
      ['#000000', '#18FFC3', '#03CFC0', '#67FFC3'],
      ['#E6E6FA', '#D8BFD8', '#DDA0DD', '#EE82EE'],
      ['#194D33', '#15D977', '#ACD915', '#8617F7'],
      ['#FFF2E2', '#FFEDD5', '#734822', '#613D1D'],
      ['#4A828C', '#4A5D8C', '#5F4A8C', '#90A694'],
      ['#A3BDD8', '#ABA3D8', '#BFA3D8', '#D8A3D6'],
      ['#FFC000', '#3E2929', '#FE5500', '#5D5149'],
      ['#194D33', '#4D2D19', '#F98438', '#AA412B'],
      ['#3A2D3B', '#544061', '#4C4796', '#3A68AC'],
      ['#FF9E00', '#FFAF28', '#FFC15C', '#FFD894'],
      ['#0F380F', '#306230', '#8BAC0F', '#9BBC0F'],
      ['#0B678F', '#128FC7', '#4999BC', '#032C40'],
      ['#004333', '#0D8833', '#A1BC00', '#EBDD77'],
      ['#FFB8B8', '#E6D3FF', '#BBE7F5', '#FBD4AB'],
      ['#04FF80', '#0BEB7A', '#2BC477', '#1C6540'],
    ]
    var acidicGB = [ '#253a38','#7aa44d','#91ea3a','#d2deca',];
    var bluePalette = [ "#102533","#42678e","#6f9edf","#cecece",];
    //////////////////////////////////////////////////////////////////////////////////////////

    const getURI = async (id) => {
        console.log(await connectedContract.tokenURI(id))
    }

    function RBG_CHANGE(event) {
        // var name_plate = document.querySelector("#name_plate"); 
        // var RGB_plate = document.querySelector("#RGB_plate"); 
        if (event.target.id == "all" || event.target.id == "R") {
            R = parseInt(event.target.value);
            // document.querySelector("#RGB_plate").innerHTML = `rgb(${R},${B},${G})`;
            document.querySelector("rect").setAttribute("fill", `rgb(${R},${B},${G})`);
        } else if (event.target.id == "all" || event.target.id == "B") {
            B = parseInt(event.target.value);
            // document.querySelector("#RGB_plate").innerHTML = `rgb(${R},${B},${G})`;
            document.querySelector("rect").setAttribute("fill", `rgb(${R},${B},${G})`);
        } else if (event.target.id == "all" || event.target.id == "G") {
            G = parseInt(event.target.value);
            // document.querySelector("#RGB_plate").innerHTML = `rgb(${R},${B},${G})`;
            document.querySelector("rect").setAttribute("fill", `rgb(${R},${B},${G})`);

        } else if (event.target.id == "all" || event.target.id == "_name") {
            _name = event.target.value;
            document.querySelector("#name_plate").innerHTML = event.target.value
        } else if (event.target.id == "all" || event.target.id == "description") {
            description = event.target.value;
            document.querySelector("#description_plate").innerHTML = event.target.value
        } else if (event.target.id == "all" || event.target.id == "text_size") {
            document.querySelectorAll(".base").forEach(e => {
                text_size = event.target.value + "px";
                e.style['font-size'] = text_size;
            });
        }
    }
    //////////////////////////////////////////////////////////////////////////////////////////
    const lengthOfStorage = async () => {
        var len = await connectedContract.totalCount();
        return parseInt(len);
    }

    const withdrawAdmin = async () => {
        var contractBalance = await provider.getBalance(CONTRACT_ADDRESS);
        contractBalance = parseInt(contractBalance._hex);
        var cost = await connectedContract.cost(); 
        cost = parseInt(cost._hex);
        console.log("contractBalance", contractBalance, "cost", cost)
        if (contractBalance > 0) {
            await connectedContract.withdraw();
        } else {
            console.log("nobody is minted yet :(")
        }
    }

    // LAUNCH
    // revelIt();
    const revelIt = async () => {
        await connectedContract.reveal();
    }
    // setOnlyWhitelisted(false);
    const setOnlyWhitelisted = async (_state) => {
        await connectedContract.setOnlyWhitelisted(_state);
    }

    const askContractToMintNftwithInputs = async () => {
        var _souce = document.querySelector("svg").outerHTML
                            .replace(/[\n]/g, "")
                            .replace(/ /g, " ");
        var image = 'data:image/svg+xml;base64,' + 
            btoa(
                unescape(
                    encodeURIComponent(
                        _souce
                        )
                    )
                );
        var unique_id = await connectedContract.totalCount();
        var nftData = {
            attributes: [
                {
                    trait_type: "Red",
                    value: String(R)
                },{
                    trait_type: "Blue",
                    value: String(B)
                },{
                    trait_type: "Green",
                    value: String(G)
                },{
                    trait_type: "Text Size",
                    value: text_size
                },{
                    trait_type: "Name Lenght",
                    value: _name.length
                },{
                    trait_type: "Description Lenght",
                    value: description.length
                }
            ],
            name: _name,
            description: description,
            image: image,
            external_link: `${BASE_URL}/${parseInt(unique_id)}`
        }
        var b64 = btoa(unescape(encodeURIComponent(
            JSON.stringify(nftData)
            // `{
            // "name": "Spongebob Cowboy Pants",
            // "description": "A silent hero. A watchful protector.",
            // "image": "https://i.imgur.com/v7U019j.png"
            // }`
        )));
        var str = decodeURIComponent(escape(window.atob(b64)));
        console.log(JSON.stringify(nftData), str)
        return b64;
    }
    // var _COUNTER_ = 1;
    const waitAndUpdate = async (Txn, innerHTMLid) => {
        let dotter = setInterval(() => {
            if (document.querySelector(innerHTMLid).innerText.length > 100) {
                // _COUNTER_++
                document.querySelector(innerHTMLid).innerText = "Transaction is going to be sent, It might take some time.";
            }
            document.querySelector(innerHTMLid).innerText += "."
        }, 500)
        await Txn.wait()
            .then( async (tx) => {
                console.log(tx)
                // tnxLink = `https://rinkeby.etherscan.io/tx/${r.transactionHash}`;
                var length = await lengthOfStorage()// + parseInt(1);
                var openSeaLink = openSeaPrefix + CONTRACT_ADDRESS + "/" + String(length-1);
                document.querySelector("#info").innerHTML = `SCAN      || Mined, see transaction: <a href="${SCAN}${tx.transactionHash}" target="blank_" style="color: cornflowerblue; font-size:20px">${tx.transactionHash}</a><br>`;
                document.querySelector("#info").innerHTML += `Opensea   || Delayed history of metadata: <a href="${openSeaLink}" target="blank_" style="color: cornflowerblue; font-size:20px">Opensea</a><br>`;
                // document.querySelector("#info").innerHTML += `Raible    || See your NFT! on raible:<a href="${rariblePrefix}${CONTRACT_ADDRESS}/${length}" target="blank_" style="color: cornflowerblue; font-size:20px">Raible</a><br>`;
                clearInterval(dotter);
            })
    }
    const askContractToMintNft = async () => {
        // original suzanne NFT
        try {
            const { ethereum } = window;
            if (ethereum) {
                provider = new ethers.providers.Web3Provider(ethereum);
                signer = provider.getSigner();
                connectedContract = new ethers.Contract(CONTRACT_ADDRESS, abi.abi, signer);
                document.querySelector("#info").innerText = "Going to pop wallet now to pay gas...";
                let overrides = {
                    value: await connectedContract.cost()//ethers.utils.parseEther("10")
                };
                let nftTxn = await connectedContract.mint(1, false, "ewogICAgIm5hbWUiOiAic2Vjb25kYXJ5IiwKICAgICJkZXNjcmlwdGlvbiI6ICJBIHNpbGVudCBoZXJvLiBBIHdhdGNoZnVsIHByb3RlY3Rvci4iLAogICAgImltYWdlIjogImRhdGE6aW1hZ2Uvc3ZnK3htbDtiYXNlNjQsUEhOMlp5QjRiV3h1Y3owaWFIUjBjRG92TDNkM2R5NTNNeTV2Y21jdk1qQXdNQzl6ZG1jaUlIQnlaWE5sY25abFFYTndaV04wVW1GMGFXODlJbmhOYVc1WlRXbHVJRzFsWlhRaUlIWnBaWGRDYjNnOUlqQWdNQ0F6TlRBZ016VXdJajRLSUNBZ0lEeHpkSGxzWlQ0dVltRnpaU0I3SUdacGJHdzZJSGRvYVhSbE95Qm1iMjUwTFdaaGJXbHNlVG9nYzJWeWFXWTdJR1p2Ym5RdGMybDZaVG9nTVRSd2VEc2dmVHd2YzNSNWJHVStDaUFnSUNBOGNtVmpkQ0IzYVdSMGFEMGlNVEF3SlNJZ2FHVnBaMmgwUFNJeE1EQWxJaUJtYVd4c1BTSmliR0ZqYXlJZ0x6NEtJQ0FnSUR4MFpYaDBJSGc5SWpVd0pTSWdlVDBpTlRBbElpQmpiR0Z6Y3owaVltRnpaU0lnWkc5dGFXNWhiblF0WW1GelpXeHBibVU5SW0xcFpHUnNaU0lnZEdWNGRDMWhibU5vYjNJOUltMXBaR1JzWlNJK1JYQnBZMHh2Y21SSVlXMWlkWEpuWlhJOEwzUmxlSFErQ2p3dmMzWm5QZz09Igp9", overrides=overrides);
                await waitAndUpdate(nftTxn, "#info");
            } else {
                document.querySelector("#info").innerText = "Ethereum object doesn't exist!";
            }
        } catch (error) {
            console.log(error)
        }
    }

    const nameUpdate = async (read = false) => {
        if (account == undefined) {
            document.querySelector("#info").innerText = "You need to connect to blochcain network first.";
            return await checkIfWalletIsConnected()
        }
        /*
         * First make sure we have access to window.ethereum
         */
        const { ethereum } = window;
        if (ethereum) {
            provider = new ethers.providers.Web3Provider(ethereum);
            signer = provider.getSigner();
            connectedContract = new ethers.Contract(CONTRACT_ADDRESS, abi.abi, signer);
            if (read) {
                document.querySelector("#info").innerHTML += `<br><span style="color: green">RESPONSE:</span>` + await connectedContract.name();
            } else {
            }
        }
        return;
    }

    const getRGBA = async () => {
        return false;

    }
    const checkIfWalletIsConnected = async () => {
        /*
         * First make sure we have access to window.ethereum
         */
        const { ethereum } = window;

        if (!ethereum) {
            document.querySelector("#info").innerText = "Make sure you have a wallet."
            return;
        } else {
            document.querySelector("#info").innerText = "Wallet found. Attemting to connect"
            setTimeout(() => {
                if (document.querySelector("#info").innerText == "Wallet found. Attemting to connect") {
                    document.querySelector("#info").innerText = "Failed to connect the wallet, please refresh the page and try again"
                }
            }, 333);
        }
        /*
         * Check if we're authorized to access the user's wallet
         */
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        /*
         * User can have multiple authorized accounts, we grab the first one if its there!
         */
        if (accounts.length !== 0) {
            account = accounts[0];
            web3Connected = new Web3(Web3.givenProvider)
            balance = await web3Connected.eth.getBalance(account)
                .then(b => { return web3Connected.utils.fromWei(b) });
            document.querySelectorAll(".account_info").forEach( e => {
                e.innerHTML = `<i class="fa-solid fa-ban"></i> ` + account.slice(0, 5) + "..." + account.slice(-5) + "<br>" + balance.slice(0, 11) + " " + networkCurrency;
            });
            document.querySelector("#info").innerText = `Connected to network. ${saleNetwork}`;
            chanId_int = await web3Connected.eth.getChainId();
            if (chanId_int != chainIdInt) { // rinkeby
                document.querySelector("#info").innerText = `This Sale is only available on ${saleNetwork} network, attemting to switch networks`;
                // debugger;
                return await switchEthereumChain(chainId)
            }
        } else {
            document.querySelector("#info").innerText = "Connection failed, please try again";
        }
        provider = new ethers.providers.Web3Provider(ethereum);
        signer = provider.getSigner();
        try {
            connectedContract = new ethers.Contract(CONTRACT_ADDRESS, abi.abi, signer);
        } catch (e) {
            return await checkIfWalletIsConnected();
        }
    }

    const mintPredefinedNFT = async () => {
        if (account == undefined) {
            document.querySelector("#info").innerText = "You need to connect to blochcain network first.";
            return await checkIfWalletIsConnected()
        }
        /*
         * First make sure we have access to window.ethereum
         */
        const { ethereum } = window;
        if (ethereum) {
            document.querySelector("#info").innerText = "Connected to ethereum network."
            provider = new ethers.providers.Web3Provider(ethereum);
            signer = provider.getSigner();
            const connectedContract = new ethers.Contract(CONTRACT_ADDRESS, abi.abi, signer);
            document.querySelector("#info").innerText = "Transaction is going to be sent, It might take some time.";
            let main_data = await askContractToMintNftwithInputs();
            let overrides = {
                value: await connectedContract.cost() // ethers.utils.parseEther("0.1")
            };
            document.querySelector("#mintPredefinedNFT_button").disabled = true;
            document.querySelector("#mintPredefinedNFT_button").style['background'] = "grey";
            if ( await connectedContract.owner() == ethers.utils.getAddress(account) || (await connectedContract.onlyWhitelisted() && await connectedContract.isWhitelisted(account)) ) {
                try {
                    nft_ = await connectedContract.mint(1, false, main_data);
                } catch (e) {
                    if (e.code == 4001) {
                        document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.message + ' ⚡⚡</b></span>';
                        return;
                    }
                    document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.data.message + ' ⚡⚡</b></span>';
                    if (e.data.message == "execution reverted: user is not whitelisted") { 
                        document.querySelector("#info").innerHTML+='<span style="color:white"><b> Wait until the launch</b></span>'
                    }
                    return;
                }
            } else {
                let overrides = {
                    value: await connectedContract.cost() // ethers.utils.parseEther("0.1")
                };
                try {
                    nft_ = await connectedContract.mint(1, false, main_data, overrides);
                } catch (e) {
                    if (e.code == 4001) {
                        document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.message + ' ⚡⚡</b></span>';
                        return;
                    }
                    document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.data.message + ' ⚡⚡</b></span>';
                    if (e.data.message == "execution reverted: user is not whitelisted") { 
                        document.querySelector("#info").innerHTML+='<span style="color:white"><b> Wait until the launch</b></span>'
                    }
                    return;
                }
            }
            document.querySelector("#info").innerText = `
                <a href="${SCAN}${nft_.transactionHash}" target="blank_" style="color: cornflowerblue; font-size:20px">${SCAN}${nft_.transactionHash}</a>
            `;
            await waitAndUpdate(nft_, "#info");
        }
    }

    const randomMintFromStorage = async () => {
        console.log("TODO go to storage pull random, delete")
    }

    function loadData() {
        axios({
            url: "{{ url_for('static', filename='contracts/raqNFT.json') }}",
            responseType: 'json',
            credentials: "include",
            mode: "no-cors",
            headers: {
                "Accept": "application/json; odata=verbose"
            }
        }).then((response) => {
            abi = response.data;
        }).catch(err => { console.error(err) })
    }
    async function switchEthereumChain(chainId) {
        await window.ethereum.request({
            method: 'wallet_switchEthereumChain',
            params: [{ chainId: chainId }], // chainId must be in hexadecimal numbers
        });
        return await checkIfWalletIsConnected();
    }

    const getNew128px = () => { 
      var mypalette = []; 
      palInt = Date.now()%totalPalettes.length;
      totalPalettes[palInt].forEach(e => {
          mypalette.push(hexToRgb(e))
      });
        const config = {
          to : document.getElementById("pixelitcanvas"),
          //defaults to document.getElementById("pixelitcanvas")
          from : document.getElementById("px128_source"), 
          //defaults to document.getElementById("pixelitimg")
          scale : 0, 
          //from 0-50, defaults to 8
          palette : mypalette, // [[r,g,b]], 
          //defaults to a fixed pallete
          maxHeight: 128, 
          //defaults to null
          maxWidth: 128, 
          //defaults to null
        }
        px = new pixelit(config);
        px.draw().pixelate();
        px.convertPalette();
        px.resizeImage();
    }

    const mintPNG = () => {
        // MINT PNG FILE INTO BLOCKCHAIN
        img_base128 = document.querySelector("#pixelitcanvas").toDataURL("image/png")
    }

    const rgbToHex = (red, green, blue) => {
    const rgb = (red << 16) | (green << 8) | (blue << 0);
    return '#' + (0x1000000 + rgb).toString(16).slice(1);
    }
        
    const hexToRgb = hex => {
        const normal = hex.match(/^#([0-9a-f]{2})([0-9a-f]{2})([0-9a-f]{2})$/i);
        if (normal) return normal.slice(1).map(e => parseInt(e, 16));

        const shorthand = hex.match(/^#([0-9a-f])([0-9a-f])([0-9a-f])$/i);  
        if (shorthand) return shorthand.slice(1).map(e => 0x11 * parseInt(e, 16));

        return null;
    }

    const MintPixelArt = async () => {
        document.querySelector('#min_max_button_sqr').click();
        img_base128 = document.querySelector("#pixelitcanvas").toDataURL("image/png");
        try {
            var unique_id = await connectedContract.glitchCounter();
        } catch {
            return await checkIfWalletIsConnected();
            // var unique_id = await connectedContract.totalCount();
        }
        var nftData = {
            attributes: [
                // {
                //     trait_type: "Red",
                //     value: String(R)
                // },{
                //     trait_type: "Blue",
                //     value: String(B)
                // },{
                //     trait_type: "Green",
                //     value: String(G)
                // },{
                //     trait_type: "Text Size",
                //     value: text_size
                // },{
                //     trait_type: "Name Lenght",
                //     value: _name.length
                {
                    trait_type: "palette",
                    value: totalPalettes[palInt].join(":")
                },
                {
                  "display_type": "date", 
                  "trait_type": "birthday", 
                  "value": Date.now()
                }
            ],
            name: `#${parseInt(unique_id)}`,
            description: "Each unique, each randomly generated pixel glitches",
            image: img_base128,
            external_link: `${BASE_URL}/${parseInt(unique_id)}`
        }
        console.log(JSON.stringify(nftData))
        var b128 = btoa(unescape(encodeURIComponent(
            JSON.stringify(nftData)
        )));
        // var str = decodeURIComponent(escape(window.atob(b128)));
        var nft_;
        provider = new ethers.providers.Web3Provider(ethereum);
        signer = provider.getSigner();
        document.querySelector("#MintPixelArt_button").disabled = true;
        document.querySelector("#MintPixelArt_button").style['background'] = "grey";
        if ( await connectedContract.owner() == ethers.utils.getAddress(account) || (await connectedContract.onlyWhitelisted() && await connectedContract.isWhitelisted(account)) ) {
            try {
                nft_ = await connectedContract.mint(1, true, b128);
            } catch (e) {
                if (e.code == 4001) {
                    document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.message + ' ⚡⚡</b></span>';
                    return;
                }
                document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.data.message + ' ⚡⚡</b></span>';
                if (e.data.message == "execution reverted: user is not whitelisted") { 
                    document.querySelector("#info").innerHTML+='<span style="color:white"><b> Wait until the launch</b></span>'
                }
                return;
            }
        } else {
            let overrides = {
                value: await connectedContract.cost() // ethers.utils.parseEther("0.1")
            };
            try {
                nft_ = await connectedContract.mint(1, true, b128, overrides);
            } catch (e) {
                if (e.code == 4001) {
                    document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.message + ' ⚡⚡</b></span>';
                    return;
                }
                document.querySelector("#info").innerHTML = '<span style="color:red"><b>⚡⚡ ' + e.data.message + ' ⚡⚡</b></span>';
                if (e.data.message == "execution reverted: user is not whitelisted") { 
                    document.querySelector("#info").innerHTML+='<span style="color:white"><b> Wait until the launch</b></span>'
                }
                return;
            }
        }
        document.querySelector("#info").innerText = `
            <a href="${SCAN}${nft_.transactionHash}" target="blank_" style="color: cornflowerblue; font-size:20px">${SCAN}${nft_.transactionHash}</a>
        `;
        await waitAndUpdate(nft_, "#info");
    }
    function hide_console_Q1_task(state=true) {
        if (state) {
            document.getElementById("container").hidden = false;
            // click one
            // document.getElementById("min_max_button_x").click()
            document.getElementById("min_max_button_sqr").click()
            // document.getElementById("min_max_button_minus").click() 
        } else {
            document.getElementById("container").hidden = true;
            document.getElementById("min_max_button_x").click()
        }
    }

    const INITIALIZE = () => {
        loadData();
        // hide_console_Q1_task(state=true);
        getNew128px();
        getTotalCount();
        document.querySelector("#artLoadingImage").hidden = true;
        document.querySelector("#pixelitcanvas").hidden = false;
    }

    function consoleState(event) {
        var text = event.target.innerText;
        if (text == "❌") {
            // ❌
            event.target.parentElement.parentElement.hidden = true;
        } else if (text == "🔲") {
            // 🔲
            consoleStateOn()
            event.target.parentElement.parentElement.hidden = false;
        } else {
            // ➖
            consoleStateOff()
            event.target.parentElement.parentElement.hidden = false;
        }
    }

    function consoleStateOn() {
        var _console = document.querySelector("#info");
        _console.parentElement.style.top = "80%"
        _console.parentElement.style.position = 'fixed'
        _console.parentElement.style.zIndex = '500';
    }
    function consoleStateOff() {
        var _console = document.querySelector("#info");
        // _console.parentElement.style.top = "65%"
        _console.parentElement.style.position = 'inherit'
    }
    const getTotalCount = async () => {
        await checkIfWalletIsConnected()
            .then( async () => {
                if (connectedContract) {
                    let totalCount = await connectedContract.totalCount()
                    let maxSupply = parseFloat(await connectedContract.maxSupply())
                    document.querySelector("#totalTokenCount").innerHTML = `${totalCount}/${maxSupply} remaining`
                } else {
                    alert(`you need to connect to the ${saleNetwork} network`)
                }
            })
    }
    
    // background-color mousevents
    // This handler will be executed every time the cursor
    // is moved over a different list item
    document.querySelectorAll(".mint-btn").forEach( e => {
        e.addEventListener("mouseover", function( event ) {
          // highlight the mouseover target
          event.target.style.color = "orange";

          // reset the color after a short delay
          setTimeout(function() {
            event.target.style.color = "";
          }, 500);
        }, false);
    });

    // countdown function
    (function () {
      const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

      //I'm adding this section so I don't have to keep updating this pen every year :-)
      //remove this if you don't need it
      let today = new Date(),
          dd = String(today.getDate()).padStart(2, "0"),
          mm = String(today.getMonth() + 1).padStart(2, "0"),
          yyyy = today.getFullYear(),
          nextYear = "2022",//yyyy + 1,
          dayMonth = "01/09/",
          birthday = dayMonth + yyyy;
      
      today = mm + "/" + dd + "/" + yyyy;
      if (today > birthday) {
        birthday = dayMonth + nextYear;
      }
      //end
      
      const countDown = new Date(birthday).getTime(),
          x = setInterval(function() {    

            const now = new Date().getTime(),
                  distance = countDown - now;

            document.getElementById("days").innerText = Math.floor(distance / (day)),
              document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
              document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
              document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

            //do something later when date is reached
            if (distance < 0) {
              document.getElementById("headline").innerText = "It's my birthday!";
              document.getElementById("countdown").style.display = "none";
              document.getElementById("content").style.display = "block";
              clearInterval(x);
            }
            //seconds
          }, 0)
      }());
</script>
    <img id="px128_source" src="https://cors-raq.herokuapp.com/https://thisartworkdoesnotexist.com/"  id="pixelitimg" alt="" crossorigin="anonymous" width="128px" height="128px" hidden>
</body>
</html>